header {
  text-align: center;
  padding-top: 8rem;
}

h1 {
  font-size: 50px;
  color: blue;
}
.container {
  display: flex;
  flex-direction: row;
}
h2 {
  text-align: center;
}
.highscores {
  width: fit-content;
  height: 5rem;
  display: flex;
  flex-direction: row;
  margin-left: 30rem;
}
.timer {
  width: 10rem;
  height: 5rem;
  margin-left: 28rem;
}
p {
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.box {
  width: 50rem;
  height: 10rem;
  margin: 0;
  margin-left: 28rem;
  display: flex;
  justify-content: center;
  outline: dashed 1px black;
}

#questionsarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  color: black;
}
#start {
  margin: 0;
  margin-left: 50rem;
}
