header {
  text-align: center;
  padding-top: 8rem;
}

h1 {
  font-size: 50px;
  color: blue;
}
.container {
  display: flex;
  flex-direction: row;
}
h2 {
  text-align: center;
}
.highscores {
  width: fit-content;
  height: 5rem;
  display: flex;
  flex-direction: row;
  margin-left: 30rem;
}
.timer {
  width: 10rem;
  height: 5rem;
  margin-left: 28rem;
}
p {
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  height: fit-content;
}

#box {
  width: 50rem;
  height: 20rem;
  margin: 0;
  margin-left: 28rem;
  display: flex;
  justify-content: center;
  outline: dashed 1px black;
}

#start {
  margin: 0;
  margin-left: 50rem;
}

#questionsarea {
  height: fit-content;
  width: 50%;
}

#a {
  display: flex;
  margin-left: 10rem;
  flex-direction: column;
}

@media (max-width: 768px) {
  body {
    background-color: red;
    width: 50rem;
  }

  header {
    display: flex;
  }

  #box {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 75%;
    margin-left: 0rem;
  }

  .highscores {
    margin-left: 0;
  }
  .timer {
    margin-left: 0;
  }

  #start {
    margin-left: 0;
  }
}
