header {
  text-align: center;
  padding-top: 4rem;
}

h1 {
  font-size: 50px;
  align-items: center;
  color: blue;
  margin-left: -10rem;
}
.container {
  display: flex;
  flex-direction: row;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#time {
}
.highscores {
  width: fit-content;
  height: 5rem;
  display: flex;
  flex-direction: row;
  margin-left: 30rem;
}
.timer {
  width: 10rem;
  height: 5rem;
  margin-left: 28rem;
}
p {
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  height: fit-content;
  margin-left: 15rem;
}

#box {
  width: 50rem;
  height: 20rem;
  margin: 0;
  margin-left: 28rem;
  display: flex;
  justify-content: center;
  outline: dashed 1px black;
}

#start {
  margin: 0;
  margin-left: 50rem;
}

#questionsarea {
  margin-top: 1rem;
  margin-left: 30rem;
  height: fit-content;
  width: 50rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}

#rules {
  font-family: cursive;
  font-size: 20px;
  margin: 0;
  margin-top: 1rem;
  font-style: italic;
}
#options {
  margin-top: 10rem;
  height: fit-content;
  width: fit-content;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
}

#a,
#b,
#c {
  font-size: 2rem;
  width: 50rem;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: red;
}

.option {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 30rem;
}

.comment {
  margin-top: 1rem;
  margin-left: 35rem;
  font-size: 3rem;
  color: red;
}

#initialsection {
  margin-left: 38rem;
  font-style: italic;
  font-size: 1rem;
}

p {
  margin-left: -32rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
@media (max-width: 768px) {
  body {
    background-color: pink;
    width: 50rem;
  }

  #questionsarea {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 75%;
    margin-left: 0rem;
  }
  header {
    display: flex;
    margin-left: 10rem;
    width: 75%;
    margin-left: 0rem;
  }

  h1 {
    margin: 0rem;
    margin-left: 5rem;
  }
  .option {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 10rem;
    margin-left: 0rem;
  }

  #a,
  #b,
  #c {
    width: 20rem;
  }
  .comment {
    margin: 0;
    font-size: 1rem;
  }
  .highscores {
    margin-left: 0;
  }
  .timer {
    margin-left: 0;
  }

  #start {
    margin-left: 0;
  }

  p {
    margin-left: 0;
  }
  #results {
    display: flex;
    flex-direction: column;
  }

  #initialsection {
    margin: 0;
  }
}
